<%- include("./partials/header.ejs"); -%>
<h1>Compose</h1>



<form class= "item"  action="/compose" method="post">
  <input type="text" name="newText" placeholder="New Item" autocomplete="off">
  <button type="submit" name="button" >  Publish </button> <!-- value indicates whicj list called  -->

</form>

<%- include("./partials/footer.ejs"); -%>
